@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    outline: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html, body{
    height:100%;
    width: 100%;
    background-color: aliceblue;
}

section{
    margin-bottom: 80px!important;
}

.container{
    width: 1200px;
    min-height: 100%;
    height: auto;
    margin: 0px auto;
    /* border: 1px solid red; */
}

header{
    width: 100%;
    height: 100px;
    /* background-color:#acc; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 24px;
    height: 24px;
}

main{
    width: 100%;
    height: auto;
}

#photo-grettings{
    width: 100%;
    height: 800px;
    margin: 0px auto;
    margin-top: 30px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content{
    width: 50%;
    height: auto;
    padding-left: 15%;
}

.right-content{
    width: 50%;
    height: auto;
}

.gustavo-image{
    width: 100%;
    height: 600px;
    padding: 0px 70px;
}

.gustavo-image img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    object-fit: cover;
}

.grettings{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.grettings h1{
    line-height: 118px;
    width: 420px;
    font-size: 110px;
}

.grettings p{
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
}

.btn{
    border: none;
    height: 50px;
    width: fit-content;
    padding: 0px 70px;
    border-radius:10px;
    background-color: darkcyan;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}

.btn img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

#basic-info{
    width: 100%;
    height: auto;
    margin: 0px auto;
    display: flex;
}


.personal_data{
    width:fit-content;
    padding: 20px;
    padding-right: 80px;
    height: auto;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rebeccapurple;
}

.personal_data span{
    font-size: 14px;
    margin-bottom: 5px;
}

.personal_data strong{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;
}

.social_network{
    display: flex;
}

.social_network a{
    text-decoration: none;
}

.social_network img {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

.statistics{
    width: 100%;
    height: auto;

}

.grid{
    display: grid;
    row-gap: 60px;
    grid-template-columns: 1fr 1fr;
}

.grid div{

}

.grid div strong{
    text-transform: uppercase;
    font-size: 18px;
    color: rebeccapurple;
}
.grid div h1{
    font-size: 78px;
    font-weight: bolder;
    color: darkcyan;
}

.more_info{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.more_info h1{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
}

.more_info p{
    font-size: 18px;
    margin-bottom: 20px;
}

#experience{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_xp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_xp h1{
    font-size: 78px;
    color: rebeccapurple;

}

.header_xp h4{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

hr{
    width: 100%;
    height: 8px;
    margin: 20px 0px;
    background-color: rebeccapurple;
}

.xp_flex{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
}

.company_name{
    font-size: 22px;
}

.date{
    font-size: 16px;
    margin-top: 20px;
}
.job_position{
    font-size: 22px;
    color: rebeccapurple;
}

.job_description{
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
}

.techs{
    font-size: 17px;
    font-weight: 500;
    color: darkcyan;
    margin-top: 20px;
}

.techs span{
    color: rebeccapurple;
    font-weight: bold;
}

.background{
    margin-top: 30px;
    width: 100%;
    background-image: url('assets/background.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 700px;
    position: relative;
}

.phrase_block{
    background-color: #fff;
    width: 50%;
    margin: auto;
    height: auto;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    margin-left: -25%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header_block{
    width: 100%;
    height: 20px;
    background-color: rebeccapurple;
}

.quotes{
    width: 128px;
    height: 128px;
    margin: auto;
}

.profile-photo{
    width: 128px;
    height: 128px;
    margin:auto;
    border-radius: 50%;
    border: 10px solid darkcyan;
    object-fit: cover;
}

.phrase{
    text-align: center;
    font-size: 22px;
    width: 85%;
    margin: 20px 0;
}

.phrase_block strong{
     font-size: 20px;
     font-style: italic;
}
.phrase_block span{
    color: #333;
    font-size: 16px;
    margin-bottom: 40px;
}

#insta-section{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 200px;
}

.block_dynamic{
    width: 60%;
    left:20%;
    height: 1050px;
    margin:auto;
    border-radius: 40px;
    margin-top: -120px;
    background-color: darkcyan;
    position: absolute;
}

.grid-instagram{
    width: 90%;
    margin: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    z-index: 99;
    position: relative;
}

.image{
    aspect-ratio : 1 / 1;
    z-index: 99;
    
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-instagram .message{
    width: 450px;
    height: auto;
    background-color: #fff;
    z-index: 999;
    right: -50px;
    margin-top: 1000px;
    position: absolute;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
}

.grid-instagram .message h1{
    color: rebeccapurple;
    font-size: 42px;
    margin-bottom: 20px;
}

.grid-instagram .message p{
    font-size: 18px;
    line-height: 24px;
}

.box-link{
    margin: 10px 0px 30px 0px;
    display: flex; align-items: center;
}

.box-link a, .box-link a:active{
    font-size: 18px;
    text-decoration: none;
    color: #000;
    text-decoration: underline;
}

a{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #000;
    margin-top: 500px;
    color: #fff;
    display: flex;
    align-items:center ;
    justify-content: center;
}